/* Estilos para a imagem de fundo */
.bg-image {
  width: 100%; /* Largura total da janela de visualização */
  background-size: cover; /* Ajusta a imagem para cobrir todo o contêiner */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  position: relative; /* Permite que os elementos internos sejam posicionados em relação a este contêiner */
}

/* Estilos para o texto sobre a imagem */
.text-over-image {
  position: absolute; /* Permite posicionar o texto sobre a imagem */
  top: 200%; /* Posiciona o elemento no centro verticalmente */
  left: 50%; /* Posiciona o elemento no centro horizontalmente */
  transform: translate(
    -50%,
    -50%
  ); /* Move o elemento para o centro exato da imagem */
  color: #0a0505; /* Cor do texto */
  text-align: center; /* Alinhamento do texto */
  font-size: 2rem; /* Tamanho da fonte */
  width: 80%; /* Limita a largura do texto */
}

/* Estilos para o segundo texto sobre a imagem */
.text-over-image2 {
  position: absolute; /* Permite posicionar o texto sobre a imagem */
  top: 230%; /* Posiciona o elemento 60% abaixo do topo da imagem */
  left: 50%; /* Posiciona o elemento no centro horizontalmente */
  transform: translate(
    -50%,
    -50%
  ); /* Move o elemento para o centro exato da imagem */
  color: #0a0505; /* Cor do texto */
  text-align: center; /* Alinhamento do texto */
  font-size: 1.5rem; /* Tamanho da fonte */
  width: 80%; /* Limita a largura do texto */
}

/* Estilos para o terceiro texto sobre a imagem */
.text-over-image3 {
  position: absolute; /* Permite posicionar o texto sobre a imagem */
  top: 200%; /* Posiciona o elemento 70% abaixo do topo da imagem */
  left: 50%; /* Posiciona o elemento no centro horizontalmente */
  transform: translate(
    -50%,
    -50%
  ); /* Move o elemento para o centro exato da imagem */
  color: #0a0505; /* Cor do texto */
  text-align: center; /* Alinhamento do texto */
  font-size: 2.5rem; /* Tamanho da fonte */
  width: 80%; /* Limita a largura do texto */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .text-over-image,
  .text-over-image2,
  .text-over-image3 {
    font-size: 1.5rem;
    width: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .text-over-image,
  .text-over-image2,
  .text-over-image3 {
    font-size: 1.5rem;
    width: 90%;
  }
}

@media screen and (min-width: 1025px) {
  .text-over-image,
  .text-over-image2,
  .text-over-image3 {
    font-size: 1.5rem;
    width: 90%;
  }
}
